
@model IEnumerable<Domain.Entites.Student>

<h2>Students:</h2>


<tabel class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
        </tr>
    </thead>

    <tbody>
        @foreach(var student in Model)
        {
            <tr>
                <td></td>
            </tr>
        }
    </tbody>


</tabel>